<nav class="w-full h-14 bg-[#3c373f] box-border flex justify-between">
  <!-- logo Section -->
  <div class="h-full">
    <img src="/assets/blue_bare.png" class="h-full p-2">
  </div>


  <!-- Navigation Items-->
  <div class="h-full">
    <ul class="flex h-full items-center text-white">
      <li class="w-24 border-l-2 border-solid text-sm h-full items-center flex justify-center hover:bg-[#5a4c63]" *ngFor="let item of navigationItems">
        <a [routerLink]="item.link">{{item.name}}</a>
      </li>
    </ul>
  </div>
</nav>