<div class="sm:w-full md:w-1/3 border-red-400 rounded p-5 border-2">
  <section class="flex justify-between">
    <div class="p-2">
      <img class="h-20" src="https://avatars.githubusercontent.com/u/42757754?v=4">
    </div>
    <div class="text-center h-full">
      <h3 class="text-xl font-bold align-middle">Electronics Engineer / Software developer</h3>
    </div>
  </section>
  <hr class="border-1 border-zinc-600 m-3">
  <section>
    <div class="flex justify-between mx-10">
      <h4 class="italic text-md font-bold">Name</h4>
      <p>Cerezo Larbi</p>
    </div>
  </section>
  <hr class="border-1 border-zinc-600 m-3">
  <section>
    <div class="flex justify-between mx-10">
      <h4 class="italic text-md font-bold">Date Of Birth</h4>
      <p>3/4/88</p>
    </div>
  </section>
  <ng-template #test>Fuck You All</ng-template>
  <div class="m-10" >
    <button (click)="testClick()" class=" rounded-md bg-zinc-800 w-full text-white p-4 hover:bg-zinc-600">Test Button</button>
  </div>
  
</div>
